<!-- Content Header (Page header) -->
<div class="content-header" style="padding: 5px 0.2rem 3px 0.5rem">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">Proje Listesi</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Raporlar</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header" style="padding: 0.5rem 0.3rem 0.2rem 0.5rem;">
            <div class="container-fluid">
              <div class="row">
                <div class="col-sm-6">
                  <h3 class="card-title">Projeler</h3>
                </div>
                <div class="col-sm-6 text-right">
                  <button class="btn btn-info btn-sm" data-toggle="modal" data-target="#modal-default"><i
                      class="fas fa-plus"></i></button>
                  <button class="btn btn-sm" style="background-color:lightsteelblue;"><i
                      class="fas fa-eye"></i></button>
                  <button class="btn btn-warning btn-sm"><i class="fas fa-pencil-alt"></i></button>
                  <button class="btn btn-tool btn-sm docs-creator" style="background-color:lightslategrey "><i
                      class="fas fa-download"></i></button>
                  <button class="btn btn-primary btn-sm"><i class="fas fa-folder"></i></button>
                  <button class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></button>
                </div>
              </div>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body" style="padding: 0.5rem;">
            <table id="example1" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>id</th>
                  <th>Name</th>
                  <th>Browser</th>
                  <th>Platform(s)</th>
                  <th>Engine version</th>
                  <th>CSS grade</th>
                  <th>Check Box</th>
                  <th>status</th>

                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Üretim Yönetim Sis.</td>
                  <td>Internet
                    Explorer 4.0
                  </td>
                  <td>Win 95+</td>
                  <td> 4</td>
                  <td>X</td>
                  <td class="jsgrid-cell jsgrid-align-center" style="width: 100px;"><input type="checkbox"></td>
                  <td><select class="form-control">
                      <option>finish</option>
                      <option>proccess</option>
                      <option>start</option>
                      <option>static</option>
                    </select></td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Trident</td>
                  <td>Internet
                    Explorer 5.0
                  </td>
                  <td>Win 95+</td>
                  <td>5</td>
                  <td>C</td>
                  <td class="jsgrid-cell jsgrid-align-center" style="width: 100px;"><input type="checkbox"></td>
                  <td><select class="form-control">
                      <option>finish</option>
                      <option>proccess</option>
                      <option>start</option>
                      <option>static</option>
                    </select></td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->

      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!--/. container-fluid -->
</section>

<div class="modal fade" id="modal-default" data-backdrop="static" tabindex="-1" role="dialog"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" style="border-color:#6585a1">
      <div class="modal-header" style="padding: 0.5rem 1rem;">
        <h4 class="modal-title">Proje Ekle</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="quickForm" [formGroup]="addProjectForm" (ngSubmit)="onSubmit()">
      <div class="modal-body">
        <section class="content">
          <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                  <label for="InputName">Proje Adı</label>
                  <input id="InputName" name="name" type="text" class="form-control" placeholder="Name" formControlName="name">
                
                  <div *ngIf="addProjectForm.controls['name'].invalid && (addProjectForm.controls['name'].dirty || addProjectForm.controls['name'].touched)"
                      class="alert alert-danger">
                      <div *ngIf="addProjectForm.controls['name'].errors?.['required']">
                        Please enter username
                      </div>
                  </div>
                </div>
                
                <div class="form-group">
                  <label for="InputName" >Description</label>
                  <textarea id = "InputDescription" class="form-control" rows="3" placeholder="Description"
                    formControlName="description"  name="description" ></textarea>
                </div>
                <!-- <button type="button" (click)="updateProfile()">Update Profile</button> -->
                <!-- <p>Form Status: {{ addProjectForm.status }}</p> -->
                <!-- <button type="button" (click)="updateName()">Update Name</button>
                    <p>Value: {{ name.value }}</p> -->
                  </div>
                  
                </div>
              </section>
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button"  class="btn btn-default" data-dismiss="modal">Kapat</button>
              <button type="submit" class="btn btn-primary">Kaydet</button>
            </div>
          </form>
      </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<script>
  $(function () {
    $.validator.setDefaults({
      submitHandler: function () {
        alert("Form successful submitted!");
      }
    });
    $('#quickForm').validate({
      rules: {
        name: {
          required: true,
        },
        description: {
          required: true,
          minlength: 5
        },
      },
      messages: {
        name: {
          required: "Please enter a email address",
        },
        description: {
          required: "Please provide a password",
          minlength: "Your password must be at least 5 characters long"
        },
      },
      errorElement: 'span',
      errorPlacement: function (error, element) {
        error.addClass('invalid-feedback');
        element.closest('.form-group').append(error);
      },
      highlight: function (element, errorClass, validClass) {
        $(element).addClass('is-invalid');
      },
      unhighlight: function (element, errorClass, validClass) {
        $(element).removeClass('is-invalid');
      }
    });
  });

</script>
